stages:
  - build
  - publish

variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"
  GRADLE_USER_HOME: "$CI_PROJECT_DIR/.gradle"

cache:
  paths:
    - .gradle/wrapper
    - .gradle/caches

before_script:
  - chmod +x ./gradlew

build:
  tags:
    - android-release
  stage: build
  image: cimg/android:2024.01.1
  variables:
    ANDROID_COMPILE_SDK: "34"
    ANDROID_BUILD_TOOLS: "34.0.0"
  script:
    - ./gradlew build --no-daemon
#  artifacts:
#    reports:
#      junit: "**/build/test-results/test/TEST-*.xml"
#    paths:
#      - "**/build/libs/*.jar"
#    expire_in: 1 hour
  only:
#    - main
#    - develop
    - merge_requests
#    - tags

publish artifactory:
  tags:
    - android-release
  stage: publish
  image: cimg/android:2024.01.1
  script:
    - ./gradlew publishMavenPublicationToTapsiArtifactoryRepository --no-daemon
  only:
    - merge_requests
#    - tags
